.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #eab308; /* yellow-500 */
    border-right: 4px solid transparent;
    animation: rotation 0.9s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pdf-thumb {
    width: 120px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.pdf-thumb:hover {
    transform: scale(1.05);
}
